body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #b9c790;
}

#app-container {
  width: 100%;
  max-width: 600px;
  background-color: #75daec;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(9, 154, 67, 0.1);
  text-align: center;
}

header {
  margin-bottom: 20px;
}

#quiz-container {
  text-align: center; /* Ensures text alignment for questions */
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
}

#timer {
  text-align: center;
  margin-bottom: 20px;
}

.question {
  margin-bottom: 20px;
  width: 100%;
}

.question p {
  font-weight: bold;
}

label {
  display: block;
  margin-bottom: 10px;
}

select {
  margin-top: 10px;
}

#pagination-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
}

#submit-btn {
  margin-top: 20px;
  padding: 10px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

#score-popup.hidden {
  display: none;
}

#score-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #291681;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

button {
  cursor: pointer;
}
